/* Fluid Grid Variables
================================================== */
/* #Base fluid Grid
================================================== */
/* line 69, ../sass/skeleton-fluid.scss */
.fluid-container {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding: 0;
}

/* line 71, ../sass/skeleton-fluid.scss */
.fluid-container .column,
.fluid-container .columns {
  float: left;
  display: inline;
  margin-left: 2%;
  margin-right: 2%;
}

/* Nested Column Classes */
/* line 74, ../sass/skeleton-fluid.scss */
.column.alpha, .columns.alpha {
  margin-left: 0;
}

/* line 75, ../sass/skeleton-fluid.scss */
.column.omega, .columns.omega {
  margin-right: 0;
}

/* Base fluid Grid */
/* line 26, ../sass/skeleton-fluid.scss */
.fluid-container .one.column,
.fluid-container .one.columns {
  width: 2.25%;
}

/* line 27, ../sass/skeleton-fluid.scss */
.fluid-container .two.columns {
  width: 8.5%;
}

/* line 28, ../sass/skeleton-fluid.scss */
.fluid-container .three.columns {
  width: 14.75%;
}

/* line 29, ../sass/skeleton-fluid.scss */
.fluid-container .four.columns {
  width: 21%;
}

/* line 30, ../sass/skeleton-fluid.scss */
.fluid-container .five.columns {
  width: 27.25%;
}

/* line 31, ../sass/skeleton-fluid.scss */
.fluid-container .six.columns {
  width: 33.5%;
}

/* line 32, ../sass/skeleton-fluid.scss */
.fluid-container .seven.columns {
  width: 39.75%;
}

/* line 33, ../sass/skeleton-fluid.scss */
.fluid-container .eight.columns {
  width: 46%;
}

/* line 34, ../sass/skeleton-fluid.scss */
.fluid-container .nine.columns {
  width: 52.25%;
}

/* line 35, ../sass/skeleton-fluid.scss */
.fluid-container .ten.columns {
  width: 58.5%;
}

/* line 36, ../sass/skeleton-fluid.scss */
.fluid-container .eleven.columns {
  width: 64.75%;
}

/* line 37, ../sass/skeleton-fluid.scss */
.fluid-container .twelve.columns {
  width: 71%;
}

/* line 38, ../sass/skeleton-fluid.scss */
.fluid-container .thirteen.columns {
  width: 77.25%;
}

/* line 39, ../sass/skeleton-fluid.scss */
.fluid-container .fourteen.columns {
  width: 83.5%;
}

/* line 40, ../sass/skeleton-fluid.scss */
.fluid-container .fifteen.columns {
  width: 89.75%;
}

/* line 41, ../sass/skeleton-fluid.scss */
.fluid-container .sixteen.columns {
  width: 96%;
}

/* line 44, ../sass/skeleton-fluid.scss */
.fluid-container .one-third.column {
  width: 29.33333%;
}

/* line 45, ../sass/skeleton-fluid.scss */
.fluid-container .two-thirds.column {
  width: 58.66667%;
}

/* Offsets */
/* line 48, ../sass/skeleton-fluid.scss */
.fluid-container .offset-by-one {
  padding-left: 6.25%;
}

/* line 49, ../sass/skeleton-fluid.scss */
.fluid-container .offset-by-two {
  padding-left: 12.5%;
}

/* line 50, ../sass/skeleton-fluid.scss */
.fluid-container .offset-by-three {
  padding-left: 18.75%;
}

/* line 51, ../sass/skeleton-fluid.scss */
.fluid-container .offset-by-four {
  padding-left: 25%;
}

/* line 52, ../sass/skeleton-fluid.scss */
.fluid-container .offset-by-five {
  padding-left: 31.25%;
}

/* line 53, ../sass/skeleton-fluid.scss */
.fluid-container .offset-by-six {
  padding-left: 37.5%;
}

/* line 54, ../sass/skeleton-fluid.scss */
.fluid-container .offset-by-seven {
  padding-left: 43.75%;
}

/* line 55, ../sass/skeleton-fluid.scss */
.fluid-container .offset-by-eight {
  padding-left: 50%;
}

/* line 56, ../sass/skeleton-fluid.scss */
.fluid-container .offset-by-nine {
  padding-left: 56.25%;
}

/* line 57, ../sass/skeleton-fluid.scss */
.fluid-container .offset-by-ten {
  padding-left: 62.5%;
}

/* line 58, ../sass/skeleton-fluid.scss */
.fluid-container .offset-by-eleven {
  padding-left: 68.75%;
}

/* line 59, ../sass/skeleton-fluid.scss */
.fluid-container .offset-by-twelve {
  padding-left: 75%;
}

/* line 60, ../sass/skeleton-fluid.scss */
.fluid-container .offset-by-thirteen {
  padding-left: 81.25%;
}

/* line 61, ../sass/skeleton-fluid.scss */
.fluid-container .offset-by-fourteen {
  padding-left: 87.5%;
}

/* line 62, ../sass/skeleton-fluid.scss */
.fluid-container .offset-by-fifteen {
  padding-left: 93.75%;
}

/* #Tablet (Portrait) fluid
================================================== */
/* Note: Design for a width of 768px */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  /* line 89, ../sass/skeleton-fluid.scss */
  .fluid-container {
    width: 100%;
  }

  /* line 91, ../sass/skeleton-fluid.scss */
  .fluid-container .column,
  .fluid-container .columns {
    margin-left: 2%;
    margin-right: 2%;
  }

  /* line 92, ../sass/skeleton-fluid.scss */
  .fluid-container.alpha, .columns.alpha {
    margin-left: 0;
    margin-right: 2%;
  }

  /* line 93, ../sass/skeleton-fluid.scss */
  .fluid-container.omega, .columns.omega {
    margin-right: 0;
    margin-left: 2%;
  }

  /* line 94, ../sass/skeleton-fluid.scss */
  .alpha.omega {
    margin-left: 0;
    margin-right: 0;
  }

  /* Tablet fluid grid */
  /* line 26, ../sass/skeleton-fluid.scss */
  .fluid-container .one.column,
  .fluid-container .one.columns {
    width: 2.25%;
  }

  /* line 27, ../sass/skeleton-fluid.scss */
  .fluid-container .two.columns {
    width: 8.5%;
  }

  /* line 28, ../sass/skeleton-fluid.scss */
  .fluid-container .three.columns {
    width: 14.75%;
  }

  /* line 29, ../sass/skeleton-fluid.scss */
  .fluid-container .four.columns {
    width: 21%;
  }

  /* line 30, ../sass/skeleton-fluid.scss */
  .fluid-container .five.columns {
    width: 27.25%;
  }

  /* line 31, ../sass/skeleton-fluid.scss */
  .fluid-container .six.columns {
    width: 33.5%;
  }

  /* line 32, ../sass/skeleton-fluid.scss */
  .fluid-container .seven.columns {
    width: 39.75%;
  }

  /* line 33, ../sass/skeleton-fluid.scss */
  .fluid-container .eight.columns {
    width: 46%;
  }

  /* line 34, ../sass/skeleton-fluid.scss */
  .fluid-container .nine.columns {
    width: 52.25%;
  }

  /* line 35, ../sass/skeleton-fluid.scss */
  .fluid-container .ten.columns {
    width: 58.5%;
  }

  /* line 36, ../sass/skeleton-fluid.scss */
  .fluid-container .eleven.columns {
    width: 64.75%;
  }

  /* line 37, ../sass/skeleton-fluid.scss */
  .fluid-container .twelve.columns {
    width: 71%;
  }

  /* line 38, ../sass/skeleton-fluid.scss */
  .fluid-container .thirteen.columns {
    width: 77.25%;
  }

  /* line 39, ../sass/skeleton-fluid.scss */
  .fluid-container .fourteen.columns {
    width: 83.5%;
  }

  /* line 40, ../sass/skeleton-fluid.scss */
  .fluid-container .fifteen.columns {
    width: 89.75%;
  }

  /* line 41, ../sass/skeleton-fluid.scss */
  .fluid-container .sixteen.columns {
    width: 96%;
  }

  /* line 44, ../sass/skeleton-fluid.scss */
  .fluid-container .one-third.column {
    width: 29.33333%;
  }

  /* line 45, ../sass/skeleton-fluid.scss */
  .fluid-container .two-thirds.column {
    width: 58.66667%;
  }

  /* Offsets */
  /* line 48, ../sass/skeleton-fluid.scss */
  .fluid-container .offset-by-one {
    padding-left: 6.25%;
  }

  /* line 49, ../sass/skeleton-fluid.scss */
  .fluid-container .offset-by-two {
    padding-left: 12.5%;
  }

  /* line 50, ../sass/skeleton-fluid.scss */
  .fluid-container .offset-by-three {
    padding-left: 18.75%;
  }

  /* line 51, ../sass/skeleton-fluid.scss */
  .fluid-container .offset-by-four {
    padding-left: 25%;
  }

  /* line 52, ../sass/skeleton-fluid.scss */
  .fluid-container .offset-by-five {
    padding-left: 31.25%;
  }

  /* line 53, ../sass/skeleton-fluid.scss */
  .fluid-container .offset-by-six {
    padding-left: 37.5%;
  }

  /* line 54, ../sass/skeleton-fluid.scss */
  .fluid-container .offset-by-seven {
    padding-left: 43.75%;
  }

  /* line 55, ../sass/skeleton-fluid.scss */
  .fluid-container .offset-by-eight {
    padding-left: 50%;
  }

  /* line 56, ../sass/skeleton-fluid.scss */
  .fluid-container .offset-by-nine {
    padding-left: 56.25%;
  }

  /* line 57, ../sass/skeleton-fluid.scss */
  .fluid-container .offset-by-ten {
    padding-left: 62.5%;
  }

  /* line 58, ../sass/skeleton-fluid.scss */
  .fluid-container .offset-by-eleven {
    padding-left: 68.75%;
  }

  /* line 59, ../sass/skeleton-fluid.scss */
  .fluid-container .offset-by-twelve {
    padding-left: 75%;
  }

  /* line 60, ../sass/skeleton-fluid.scss */
  .fluid-container .offset-by-thirteen {
    padding-left: 81.25%;
  }

  /* line 61, ../sass/skeleton-fluid.scss */
  .fluid-container .offset-by-fourteen {
    padding-left: 87.5%;
  }

  /* line 62, ../sass/skeleton-fluid.scss */
  .fluid-container .offset-by-fifteen {
    padding-left: 93.75%;
  }
}
/*  #Mobile (Portrait) fluid
================================================== */
/* Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
  /* line 109, ../sass/skeleton-fluid.scss */
  .fluid-container {
    width: 96%;
  }

  /* line 111, ../sass/skeleton-fluid.scss */
  .fluid-container .columns,
  .fluid-container .column {
    margin: 2%;
  }

  /* line 131, ../sass/skeleton-fluid.scss */
  .fluid-container .one.column,
  .fluid-container .one.columns,
  .fluid-container .two.columns,
  .fluid-container .three.columns,
  .fluid-container .four.columns,
  .fluid-container .five.columns,
  .fluid-container .six.columns,
  .fluid-container .seven.columns,
  .fluid-container .eight.columns,
  .fluid-container .nine.columns,
  .fluid-container .ten.columns,
  .fluid-container .eleven.columns,
  .fluid-container .twelve.columns,
  .fluid-container .thirteen.columns,
  .fluid-container .fourteen.columns,
  .fluid-container .fifteen.columns,
  .fluid-container .sixteen.columns,
  .fluid-container .one-third.column,
  .fluid-container .two-thirds.column {
    width: 96%;
  }

  /* Offsets */
  /* line 148, ../sass/skeleton-fluid.scss */
  .fluid-container .offset-by-one,
  .fluid-container .offset-by-two,
  .fluid-container .offset-by-three,
  .fluid-container .offset-by-four,
  .fluid-container .offset-by-five,
  .fluid-container .offset-by-six,
  .fluid-container .offset-by-seven,
  .fluid-container .offset-by-eight,
  .fluid-container .offset-by-nine,
  .fluid-container .offset-by-ten,
  .fluid-container .offset-by-eleven,
  .fluid-container .offset-by-twelve,
  .fluid-container .offset-by-thirteen,
  .fluid-container .offset-by-fourteen,
  .fluid-container .offset-by-fifteen {
    padding-left: 0;
  }
}
/* #Mobile (Landscape) fluid
================================================== */
/* Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* line 160, ../sass/skeleton-fluid.scss */
  .fluid-container {
    width: 96%;
  }

  /* line 162, ../sass/skeleton-fluid.scss */
  .fluid-container .columns,
  .fluid-container .column {
    margin: 2%;
  }

  /* line 182, ../sass/skeleton-fluid.scss */
  .fluid-container .one.column,
  .fluid-container .one.columns,
  .fluid-container .two.columns,
  .fluid-container .three.columns,
  .fluid-container .four.columns,
  .fluid-container .five.columns,
  .fluid-container .six.columns,
  .fluid-container .seven.columns,
  .fluid-container .eight.columns,
  .fluid-container .nine.columns,
  .fluid-container .ten.columns,
  .fluid-container .eleven.columns,
  .fluid-container .twelve.columns,
  .fluid-container .thirteen.columns,
  .fluid-container .fourteen.columns,
  .fluid-container .fifteen.columns,
  .fluid-container .sixteen.columns,
  .fluid-container .one-third.column,
  .fluid-container .two-thirds.column {
    width: 96%;
  }
}
