/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/
/* Table of Contents
==================================================

	#Baseline Grid
	#Font
	#Colours
 */
/* #Baseline Grid
================================================== */
/* #Font
================================================== */
/* #Colours
================================================== */
/* Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Site Styles
	#Typography
	#Links
	#Lists
	#Images
	#Buttons
	#Forms
	#Misc */
/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
/* line 30, ../sass/typography.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* line 37, ../sass/typography.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

/* line 39, ../sass/typography.scss */
body { line-height: 1; }

/* line 41, ../sass/typography.scss */
ol, ul { list-style: none; }

/* line 43, ../sass/typography.scss */
blockquote, q { quotes: none; }

/* line 46, ../sass/typography.scss */
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

/* line 49, ../sass/typography.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* #Basic Styles
================================================== */
/* line 56, ../sass/typography.scss */
body { background: white; font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: rem(1); line-height: rem-line-height(1); color: #444444; -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */ -webkit-text-size-adjust: 100%; }
@media only screen and (max-width: 767px) { /* line 56, ../sass/typography.scss */
  body { line-height: rem-line-height(1.2); } }

/* #Typography
================================================== */
/* line 74, ../sass/typography.scss */
h1, h2, h3, h4, h5, h6 { color: #333333; font-family: "Georgia", "Times New Roman", serif; font-weight: normal; }

/* line 78, ../sass/typography.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }

/* line 83, ../sass/typography.scss */
h1 { font-size: rem(3); line-height: rem-line-height(2.5); margin-bottom: 15px; }

/* line 88, ../sass/typography.scss */
h2 { font-size: rem(2.3); line-height: rem-line-height(1.9); margin-bottom: 10px; }

/* line 93, ../sass/typography.scss */
h3 { font-size: rem(1.9); line-height: rem-line-height(1.7); margin-bottom: 10px; }

/* line 99, ../sass/typography.scss */
h4 { font-size: rem(1.4); line-height: rem-line-height(1.4); margin-bottom: 5px; }

/* line 104, ../sass/typography.scss */
h5 { font-size: rem(1.15); line-height: rem-line-height(1.15); }

/* line 108, ../sass/typography.scss */
h6 { font-size: rem(1); line-height: rem-line-height(1); }

/* line 112, ../sass/typography.scss */
.subheader { color: #888888; }

/* line 114, ../sass/typography.scss */
p { margin: 0 0 20px 0; }

/* line 115, ../sass/typography.scss */
p img { margin: 0; }

/* line 116, ../sass/typography.scss */
p.lead { font-size: rem(1.4); line-height: rem-line-height(1.4); color: #888888; }

/* line 118, ../sass/typography.scss */
em { font-style: italic; }

/* line 119, ../sass/typography.scss */
strong { font-weight: bold; color: #333333; }

/* line 120, ../sass/typography.scss */
small { font-size: rem(0.8); }

/*	Blockquotes  */
/* line 123, ../sass/typography.scss */
blockquote, blockquote p { font-size: rem(1.15); line-height: rem-line-height(1.15); color: #888888; font-style: italic; }

/* line 124, ../sass/typography.scss */
blockquote { margin: 0 0 20px; padding: 10px 20px 0 20px; border-left: 1px solid #d4d4d4; }

/* line 125, ../sass/typography.scss */
blockquote cite { display: block; font-size: rem(0.8); color: #444444; }

/* line 126, ../sass/typography.scss */
blockquote cite:before { content: "\2014 \0020"; }

/* line 127, ../sass/typography.scss */
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #444444; }

/* line 129, ../sass/typography.scss */
hr { border: solid #d4d4d4; border-width: 1px 0 0; clear: both; margin: 20px 0 30px; height: 0; }

/* #Links
================================================== */
/* line 134, ../sass/typography.scss */
a, a:visited { color: #333333; text-decoration: underline; outline: 0; }

/* line 135, ../sass/typography.scss */
a:hover, a:focus { color: black; }

/* line 136, ../sass/typography.scss */
p a, p a:visited { line-height: inherit; }

/* #Lists
================================================== */
/* line 141, ../sass/typography.scss */
ul, ol { margin-bottom: 20px; }

/* line 142, ../sass/typography.scss */
ul { list-style: none outside; }

/* line 143, ../sass/typography.scss */
ol { list-style: decimal; }

/* line 144, ../sass/typography.scss */
ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }

/* line 145, ../sass/typography.scss */
ul.square { list-style: square outside; }

/* line 146, ../sass/typography.scss */
ul.circle { list-style: circle outside; }

/* line 147, ../sass/typography.scss */
ul.disc { list-style: disc outside; }

/* line 149, ../sass/typography.scss */
ul ul, ul ol, ol ol, ol ul { margin: 5px 0 5px 30px; font-size: rem(0.9); }

/* line 151, ../sass/typography.scss */
ul ul li, ul ol li, ol ol li, ol ul li { margin-bottom: 5px; }

/* line 152, ../sass/typography.scss */
li { line-height: rem-line-height(1); margin-bottom: 15px; }

/* line 153, ../sass/typography.scss */
ul.large li { line-height: rem-line-height(1.2); }

/* line 154, ../sass/typography.scss */
li p { line-height: rem-line-height(1.2); }

/* #Images
================================================== */
/* line 159, ../sass/typography.scss */
img.scale-with-grid { max-width: 100%; height: auto; }

/* #Buttons
================================================== */
/* line 171, ../sass/typography.scss */
.button, button, input[type="submit"], input[type="reset"], input[type="button"] { background: #e5e5e5; /* Old browsers */ background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(0, 0, 0, 0.2))); background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%); background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%); background-image: -o-linear-gradient(rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%); background-image: linear-gradient(rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%); border: 1px solid #888888; border-top: 1px solid #d4d4d4; border-left: 1px solid #d4d4d4; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; color: #444444; display: inline-block; font-size: rem(0.7); text-decoration: none; text-shadow: 0 1px rgba(255, 255, 255, 0.75); cursor: pointer; margin-bottom: 20px; line-height: normal; padding: 10px; font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* line 195, ../sass/typography.scss */
.button:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover { color: #333333; background: #e5e5e5; /* Old browsers */ background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.3)), color-stop(100%, rgba(0, 0, 0, 0.3))); background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%); background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%); background-image: -o-linear-gradient(rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%); background-image: linear-gradient(rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%); border: 1px solid #888888; border-top: 1px solid #d4d4d4; border-left: 1px solid #d4d4d4; }

/* line 207, ../sass/typography.scss */
.button:active, button:active, input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active { border: 1px solid #444444; background: #888888; /* Old browsers */ background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.35)), color-stop(100%, rgba(10, 10, 10, 0.4))); background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%); background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%); background-image: -o-linear-gradient(rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%); background-image: linear-gradient(rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%); }

/* line 216, ../sass/typography.scss */
.button.full-width, button.full-width, input[type="submit"].full-width, input[type="reset"].full-width, input[type="button"].full-width { width: 100%; padding-left: 0 !important; padding-right: 0 !important; text-align: center; }

/* Fix for odd Mozilla border & padding issues */
/* line 224, ../sass/typography.scss */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* #Forms
================================================== */
/* line 233, ../sass/typography.scss */
form { margin-bottom: 20px; }

/* line 235, ../sass/typography.scss */
fieldset { margin-bottom: 20px; }

/* line 241, ../sass/typography.scss */
input[type="text"], input[type="password"], input[type="email"], textarea, select { border: 1px solid #d4d4d4; padding: 5px 4px; outline: none; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; font: 15px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; color: #888888; margin: 0; width: 210px; max-width: 100%; display: block; margin-bottom: 20px; background: white; }

/* line 256, ../sass/typography.scss */
select { padding: 0; }

/* line 261, ../sass/typography.scss */
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, textarea:focus { border: 1px solid #888888; color: #444444; -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); }

/* line 265, ../sass/typography.scss */
textarea { min-height: 60px; }

/* line 268, ../sass/typography.scss */
label, legend { display: block; font-weight: bold; font-size: rem(0.8); }

/* line 272, ../sass/typography.scss */
select { width: 220px; }

/* line 274, ../sass/typography.scss */
input[type="checkbox"] { display: inline; }

/* line 277, ../sass/typography.scss */
label span, legend span { font-weight: normal; font-size: rem(0.8); color: #444444; }

/* #Misc
================================================== */
/* line 284, ../sass/typography.scss */
.remove-bottom { margin-bottom: 0 !important; }

/* line 285, ../sass/typography.scss */
.half-bottom { margin-bottom: 10px !important; }

/* line 286, ../sass/typography.scss */
.add-bottom { margin-bottom: 20px !important; }
